* {
  font-family: "Montserrat", sans-serif; 
  margin:0;
  padding: 0;
  box-sizing: border-box;  
  color: #2F4858;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a li:hover {
  border-bottom: solid 4px #FFA800;
  color: initial;
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  a:hover { font-weight: bold; }
}

ul { list-style-type: none; }

.menu ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 51px;  
}

.menu li {
  display: inline-block;  
  margin-right: 35px;
  font-size: 18px;
  border-bottom: solid 4px transparent;
  text-align: center;
}

.dropdown {
  display: none;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .dropdown { display: block; }
}

.topnav {
  overflow: hidden;
  position: relative;
  display: none;
}

@media only screen and (max-width: 900px) {
  .topnav { display: block; }
}

.dropdown-content {
  display: none;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 14;
  padding-top: 30px;
  padding-bottom: 50px;
}

.menu-list-mini {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;  text-align: center;
}

.dropdown-content li{
  margin: 18px;
  font-size: 18px;
  display: inline-block;
}

.dropdown-content li :hover {
  border-bottom: solid 5px #FFA800;
}

.language {
  display: flex;
  justify-content: center;
}

.topnav a {
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

.top-logo-mini {
  width: 78px;
  height: 49px;
  left:0;
  margin-left: 0px;
  float: left;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  z-index: 3;
  background-color: white;
}

@media only screen and (max-width: 900px) {
  .menu ul { display: none; }
}

@media only screen and (max-width: 900px) {
  .menu {
    max-height: 39px;
    display: inline-block;
  }
}

.top-logo {
  padding-left:20px;
  float: left;
}

@media only screen and (max-width: 900px) {
  .top-logo {
    display: none;
  }
}

.top-logo img {
  width: 100%;
  min-height: 49px;
  min-width: 78px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  h1 { font-size: 36px; }
}

.h2s {
    font-family: "Oswald", sans-serif;
  font-size: 30px; 
  margin-bottom: 50px;
}

button {
  background: #FFA800;
  border: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif; 
}

.first-block { 
  text-align: center;
  margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
  .first-block {
    margin-bottom: 120px;
  }
}

.first-block h1{
  margin: 85px auto 60px auto;
}

.video-still img {
  width: 100%;
}

.video-still {
    position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.sand-division-1 {
  background-image: url(../img/div1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;  
  height: 100%;
  min-height: 533px;
  text-align: center;  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  margin-top: 150px;
  gap:40px;
}

.sand-division-1 img,
.sand-division-2 img {
  max-width: 367.6px;
  max-height: 256.63px;
}

@media only screen and (max-width: 600px) {
  .sand-division-1 img,
  .sand-division-2 img {
    max-width: 280px;
    height: auto;
  }
}

.sand-div-p {
  color: white;
  font-size: 24px;
  margin-top: 24px;
  max-width: 1030px;
}

@media only screen and (max-width: 600px) {
  .sand-div-p {
    font-size: 18px;
    max-width: 280px;
  }
}

.content-1 {
  text-align: center;
}

.wrapped-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.text-box {
  font-size: 18px;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  .two-box {
    font-size: 12px;
  }
}

.block-1 {
  display: flex;
  justify-content: center;
  gap: 62px;
  width: 100%;
  margin-bottom: 132.73px;
}

.block-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 62px;
  margin-bottom: 132.73px;
}

.block-3 {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 62px;
  margin-bottom: 132.73px;
}

@media only screen and (max-width: 600px) {
  .block-1,
  .block-3 {
    font-size: 12px; 
    flex-direction: column;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .block-2 {
    font-size: 12px;
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .block-1 img,
  .block-2 img,
  .block-3 img {
    width: 118px;
    margin: 0 auto;
  }
}

.content-2 {
  text-align: center;
  margin: 150px auto;
}

.two-block {
  display: flex;
  justify-content: center;
  gap: 248px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .two-block {
    gap: 60px;
  }
}

.text-size {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .text-size {
    font-size: 18px;
  }
}

.text-size-2 {
  font-size: 24px;
}

.block-4 {
  text-align: center;
    max-width: 288px;  
}

.block-5 {
  text-align: center;
  max-width: 288px;  
}

.sand-division-2 {
  background-image: url(../img/div2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;  
  height: 100%;
  height: 533px;
  margin-bottom: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:40px;
}

.questions-wrap {
  font-size: 24px;
  margin: 120px 0 0;
  color: #2F4858;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.questions-wrap h2 {
  margin-bottom: 30px; 
}

@media only screen and (max-width: 600px) {
  .questions-wrap h2{
    font-size: 18px;
    margin-bottom: 50px;
  }
}

.question-box1 {
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 80px;
width: 500px;
}

.question-box2 {
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 80px;
  width: 500px;
}

.questions-wrap button {
  padding: 12px 55px;
  border-radius: 50px;  
  font-size: 18px;
}

.modal {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  background-color:rgba(47, 72, 88, 0.9);
  height: 100%;
  width: 100%;
  display: none;
}

.modal.modal-show {
  display: block;
}

.modal-content {
  background-color: transparent;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
  border: none;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    height: 70%;
    margin: 25% auto auto;
  }
}

.close {
  align-self: flex-end;
  position: absolute;
  top: 0;
  margin: -50px 0 auto auto;
}

@media only screen and (max-width: 900px) {
  .close{
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {
  .close img{
    width: 70%;
  }
}

.close:hover {
  cursor: pointer;
}

.vid-size {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .vid-size{
    height: 70%;
  }
}

.footer-wrap {
  background-image: url(../img/dark-teal.png);
  background-size: cover;
  width: 100%;  
  height: 100%;
  margin-top: 150px;
}

@media only screen and (max-width: 600px) {
  .footer-wrap { margin-top: 0px; }
}

.footer-info {
  display: flex;
  justify-content: center;
}

.info-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center; 
  font-size: 18px;
  margin: 70px 64px 0;
  color: white;
  padding: 0;  
  height: 100%;
  width: 100%;
}

.info-text li,
.info-text h3,
.info-text p {
  color: white;
}

.info-text li {
  border-bottom: solid 4px transparent;
}

@media only screen and (max-width: 1000px) {
  .info-text {
    display: flex;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .info-text {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

.sparkle-logo {
  width: 100%;
  height: 100%;
}

.sparkle-logo img { max-width: 182px; }

@media only screen and (max-width: 1000px) {
  .sparkle-logo img { max-width: 115px; }
}

@media only screen and (max-width: 600px) {
  .sparkle-logo img { max-width: 100px; }
}

#footer-left {
  line-height: 36px;
  text-align: left;
  padding-left: 10px;
}

#footer-left:hover li{
  color: #FFFFFF;
  font-weight: normal;
}

#footer-middle {
  text-align: left; 
  padding: 0;
  line-height: 26px;
  padding-left: 10px;
}

#footer-right {
  text-align: right;
  max-width: 500px;
  line-height: 26px;
  padding-left: 10px;
}

@media only screen and (max-width: 1000px) {
  #footer-left,
  #footer-middle { display: none;}
}

@media only screen and (max-width: 600px) {
  #footer-right {
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin-top: 25px;
    line-height: 2.2;
  }
}

@media only screen and (max-width: 600px) {
  #sneak1 { margin-bottom: 20px; display: block; }
}

@media only screen and (max-width: 1000px) {
  #sneak1 { display: none;}
}

#sneak2 { 
  display: none; 
  margin-top: 30px;
}

@media only screen and (max-width: 1000px) {
  #sneak2 { margin-bottom: 20px; display: block; }
}

@media only screen and (max-width: 600px) {
  #sneak2 { display: none; }
}

.soc img {
  margin: 52px 0 0 29px;
}

@media only screen and (max-width: 600px) {
  .soc img { margin: 35px 29px 35px 0; }
}

.bottom {
  font-size: 14px;
  background-color: #2F4858;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 900px) {
  .bottom p {font-size: 12px;}
}

@media only screen and (max-width: 600px) {
  .bottom p {font-size: 11px;}
}

.bottom-left {
  text-align: left;
  margin-top: 90px;
  margin-bottom: 0px;
  padding:0;
}

@media only screen and (max-width: 600px) {
  .bottom-left { margin: 0; }
}

.bottom-right {
  text-align: right;
  margin-top: 51px;
  margin-bottom: 0px; 
  padding: 0;
}

.add, .add-1 { display: none; }

@media only screen and (max-width: 600px) {
  .add { display: inline-block; }
}

@media only screen and (max-width: 1000px) {
  .add-1 { display: inline-block; }
}

.add a:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: solid 4px #FFA800;
}

@media only screen and (max-width: 1000px) {
  .add h4 {
    color:#FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .add h4 {
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .del {display: none;}
}

.back-to-top {
  float: right;
  margin-right:30px;
  margin-top:-100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 700px) {
  .back-to-top{
    margin:0 3px;
    top: 90%;
    font-size: 34px;
  }
}

.back-to-top p {
  font-size: 12px;
  margin-top: 34px;
}

@media only screen and (max-width: 700px) {
  .back-to-top p {display: none;}
}

.back-to-top:hover{
  text-decoration: none;
 }