* {
  font-family: 'Montserrat', sans-serif; 
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #2F4858;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a li:hover {
  border-bottom: solid 4px #FFA800;
  color: initial;
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  a:hover { font-weight: bold; }
}

ul {
  list-style-type: none;
}

.nav-wrap {
  position: relative;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 51px;  
}

@media only screen and (max-width: 900px) {
  .menu ul {
    display: none;
  }
}

.menu li {
  display: inline-block;  
  margin-right: 35px;
  font-size: 18px;
  border-bottom: solid 4px transparent;
  text-align: center;
}

.menu {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  z-index: 40;
  background-color: white;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 900px) {
  .menu {
    max-height: 39px;
    display: inline-block;
  }
}

.topnav {
  overflow: hidden;
  position: relative;
  display: none;
}

@media only screen and (max-width: 900px) {
  .topnav { display: block; }
}

.menu-list-mini {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropdwn-content {
  display: none;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 50;
  padding-top: 30px;
  padding-bottom: 50px;
}

.dropdwn-content li{
  margin: 18px;
  font-size: 18px;
  display: inline-block;
}

.language {
  display: flex;
  justify-content: center;
}

.topnav a {
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

.top-logo-mini {
  width: 78px;
  height: 49px;
  left:0;
  margin-left: 0px;
  float: left;
}

.top-logo {
  padding-left:20px;
  float: left;
}

@media only screen and (max-width: 900px) {
  .top-logo {
    display: none;
  }
}

.top-logo img {
  width: 100%;
  min-height: 49px;
  min-width: 78px;
}

@media only screen and (max-width: 900px) {
  .top-logo img  {
    width: 78px;
    height: 49px;
    left:0;
    margin-left: 0px;
  }
}

.selected {
  border-bottom: solid 4px #FFA800 !important;
  font-weight: bold;
}

.selected-footer {
  display: table;
  border-bottom: solid 4px #FFA800 !important;
}

.rip {
  position: absolute;
  top:0;
  left:0;
  z-index: 30;
  width: 100%;
  position: fixed;
}

.rip img{
  width: 100%; 
  height: 100%;
  min-height:91px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  h1 { font-size: 36px; }
}

.ideja-text-block {
  margin-top: 197.56px;
  text-align: center;
}

.ideja-text-block p {
  margin: 60px auto 150px auto;
  max-width: 606px;
  font-size: 18px;
  line-height: 21.94px; 
}

@media only screen and (max-width: 600px) {
  .ideja-text-block {
    max-width: 280px;
    margin: 111px auto;
  }
}

@media only screen and (max-width: 600px) {
  .ideja-text-block p {
    font-size: 12px;
    margin: 30px auto 80px auto;
    line-height: 14.63px;
  }
}

.juris-img {
  text-align: center;
  background-image: url("../img/Juris.jpg");
  width: 100%;
  height: 100%;
  min-height: 476px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .juris-img  {
    font-size: 12px;
    margin-top: 30px;
    background-position: 65% 0%;
  }
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.layer {
  width: 100%;
  height: 100%;  
  min-height: 476px;
}

.juris-quote {
  position: absolute;
  bottom: 5px;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  width: 100%;
  max-width: 818px;
  text-align: center;
  font-size: 24px;
  line-height:35.57px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 75%;
  z-index: 3;
}

@media only screen and (max-width: 1000px) {
  .juris-quote {
  max-width: 595px;
  top: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .juris-quote {
  font-size: 18px;
  max-width: 280px;
  top: 55%;
  line-height: 26.68px;
  }
}

.rip2{
  position: absolute;
  top: 0;
  width: 100%;
}

.rip2 img{
  width: 100%;
}

.rip3{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rip3 img{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .rip2 {
  margin-top: -3px;
  }
}

@media only screen and (max-width: 600px) {
  .rip3 {
  margin-bottom: -2px;
  }
}

.quote-text-block {  
  margin: 235px auto 55px auto;
  text-align: left;
  max-width: 602px;
}

@media only screen and (max-width: 600px) {
  .quote-text-block {
    font-size: 12px;
    margin: 130px 20px 55px 20px;
    background-position: 65% 0%;
  }
}

.quote-text-block h2 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .quote-text-block h2 {
    font-size: 18px;
  }
}

.small-text {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .small-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.quote {
  font-size: 24px;
  font-style: italic;
  line-height: 29.26px;
  padding: 2px;
}

@media only screen and (max-width: 600px) {
  .quote {
    font-size: 12px;
    line-height: 14.63px;
  }
}

.arrows {
  display: flex;
  gap:46px;
  margin-top: 30px;
}


.footer-wrap {
  background-image: url(../img/dark-teal.png);
  background-size: cover;
  width: 100%;  
  height: 100%;
  margin-top: 150px;
}

@media only screen and (max-width: 600px) {
  .footer-wrap { margin-top: 0px; }
}

.footer-info {
  display: flex;
  justify-content: center;
}

.info-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center; 
  font-size: 18px;
  margin: 70px 64px 0;
  color: white;
  padding: 0;  
  height: 100%;
  width: 100%;
}

.info-text li,
.info-text h3,
.info-text p {
  color: white;
}

.info-text li {
  border-bottom: solid 4px transparent;
}

@media only screen and (max-width: 1000px) {
  .info-text {
    display: flex;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .info-text {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

.sparkle-logo {
  width: 100%;
  height: 100%;
}

.sparkle-logo img { max-width: 182px; }

@media only screen and (max-width: 1000px) {
  .sparkle-logo img { max-width: 115px; }
}

@media only screen and (max-width: 600px) {
  .sparkle-logo img { max-width: 100px; }
}

#footer-left {
  line-height: 36px;
  text-align: left;
  padding-left: 10px;
}

#footer-left:hover li{
  color: #FFFFFF;
  font-weight: normal;
}

#footer-middle {
  text-align: left; 
  padding: 0;
  line-height: 26px;
  padding-left: 10px;
}

#footer-right {
  text-align: right;
  max-width: 500px;
  line-height: 26px;
  padding-left: 10px;
}

@media only screen and (max-width: 1000px) {
  #footer-left,
  #footer-middle { display: none;}
}

@media only screen and (max-width: 600px) {
  #footer-right {
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin-top: 25px;
    line-height: 2.2;
  }
}

@media only screen and (max-width: 600px) {
  #sneak1 { margin-bottom: 20px; display: block; }
}

@media only screen and (max-width: 1000px) {
  #sneak1 { display: none;}
}

#sneak2 { 
  display: none; 
  margin-top: 30px;
}

@media only screen and (max-width: 1000px) {
  #sneak2 { margin-bottom: 20px; display: block; }
}

@media only screen and (max-width: 600px) {
  #sneak2 { display: none; }
}

.soc img {
  margin: 52px 0 0 29px;
}

@media only screen and (max-width: 600px) {
  .soc img { margin: 35px 29px 35px 0; }
}

.bottom {
  font-size: 14px;
  background-color: #2F4858;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 900px) {
  .bottom p {font-size: 12px;}
}

@media only screen and (max-width: 600px) {
  .bottom p {font-size: 11px;}
}

.bottom-left {
  text-align: left;
  margin-top: 90px;
  margin-bottom: 0px;
  padding:0;
}

@media only screen and (max-width: 600px) {
  .bottom-left { margin: 0; }
}

.bottom-right {
  text-align: right;
  margin-top: 51px;
  margin-bottom: 0px; 
  padding: 0;
}

.add, .add-1 { display: none; }

@media only screen and (max-width: 600px) {
  .add { display: inline-block; }
}

@media only screen and (max-width: 1000px) {
  .add-1 { display: inline-block; }
}

.add a:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: solid 4px #FFA800;
}

@media only screen and (max-width: 1000px) {
  .add h4 {
    color:#FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .add h4 {
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .del {display: none;}
}

.back-to-top {
  font-size: 50px;
  position: sticky;
  z-index: 1000;
  top: 40%;
  right: 15px;
  float: right;
}

.back-to-top-small { display: none; }

@media only screen and (max-width: 700px) {
  .back-to-top { display: none; }
}

@media only screen and (max-width: 700px) {
  .back-to-top-small {
    display: block;
    position: sticky;
    float: right;
    top: 19%;
    font-size: 30px;
    right: 4px;
    z-index: 1000;
  }
}

#switch-to {
  padding: 1px 2px;
}