* {
  font-family: 'Kurale', serif;
  color: #e9e9e9;
  margin: 0;
  padding: 0;
}

h1 {
  color: #1B1F25;
  font-size: 45px;
  font-family: 'Roboto Slab', serif;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}

section #bg {
  background-color: #3E435E;
  background: #343744;
  background-color: #313246;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 0 40%, 0 10%);
          clip-path: polygon(25% 0%, 100% 0%, 0 40%, 0 10%);
  background-attachment: fixed;
  width: 100%;
  height: 100% !important;
  position: absolute;
  z-index: -1;
}

@media (max-width: 840px) {
  section #bg {
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2d313b;
  background-color: #292d3d;
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

nav .side1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px 10px;
  background-color: #1C3144;
  background-color: #1B1F25;
  font-size: 18px;
  gap: 15px;
}

nav li {
  font-family: 'oswald', serif;
  color: #ac8560;
  color: #d1a95f;
}

nav li:hover {
  color: #e2c269;
  color: #968652;
  color: #c2b589;
}

nav .top {
  background-color: #161929;
  padding: 20px 0 25px;
  background-image: url("../media/notebook.png");
}

nav .top h1 {
  text-align: center;
}

.side2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 0 10px;
  font-size: 20px;
}

.side2 li {
  font-family: 'oswald', serif;
  color: #ac8560;
  color: #d1a95f;
  margin-bottom: 25px;
}

.side2 li:hover {
  color: #e2c269;
  color: #968652;
  color: #c2b589;
}

h2 {
  color: #cfc39b;
}

.this-years-winner .winner-name {
  font-size: 55px;
  font-weight: bold;
  color: #d1a95f;
  font-family: 'Cormorant Garamond', serif;
  margin: 0 auto 50px;
  display: block;
  text-align: center;
  -webkit-animation: fadeIn 1.7s ease-in-out;
          animation: fadeIn 1.7s ease-in-out;
}

.decors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: .4;
  width: 100%;
  margin-top: 160px;
}

.fancy2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.fancy1,
.fancy2 {
  height: 90px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.left {
  width: 70%;
  margin: 0 auto;
}

.right {
  width: 20%;
  margin: 0;
  background-color: #1B1F25;
}

.gallery-img {
  margin: auto;
  padding: 0;
}

.gallery-img img {
  height: 120px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}

.gallery-img:hover img {
  cursor: pointer;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.gallery-link {
  margin: auto;
  padding: 0;
  height: 120px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}

.random-poem {
  background-color: #1B1F25;
  -webkit-box-shadow: 4px 4px 7px #181717;
          box-shadow: 4px 4px 7px #181717;
  background-image: url("../media/notebook.png");
  margin-top: 20px;
  text-align: center;
}

.random-poem h3, .random-poem p {
  color: #1B1F25;
}

.random-poem .author {
  text-align: right;
}

.pins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pins i {
  color: #1B1F25;
  font-size: 22px;
  margin: -135px -45px -45px;
  -webkit-filter: drop-shadow(2px 3px 2px #555555);
          filter: drop-shadow(2px 3px 2px #555555);
}

.pins-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pins-2 i {
  color: #1B1F25;
  font-size: 22px;
  margin: -20px 0 -25px;
  -webkit-filter: drop-shadow(2px 3px 2px #555555);
          filter: drop-shadow(2px 3px 2px #555555);
}

.winner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winner .winner-about {
  margin-top: 50px;
  display: block;
  text-align: left;
  padding: 20px 70px 50px;
  background-color: #1B1F25;
  background-image: url("../media/notebook.png");
  -webkit-box-shadow: 4px 4px 7px #181717;
          box-shadow: 4px 4px 7px #181717;
  border-radius: 1px;
}

.winner .winner-about .cv-name {
  text-align: center;
  font-size: 26px;
  margin: 40px auto;
  color: #1B1F25;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
}

.winner .winner-about p {
  color: #1B1F25;
}

.winner .winner-about .cv {
  text-align: justify;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
}

.winner .winner-img img {
  width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  border: 10px solid white;
  margin: 0 20px 20px 0;
  -webkit-animation: jackInTheBox 1.5s ease-in-out;
          animation: jackInTheBox 1.5s ease-in-out;
}

.curators {
  margin: 50px auto;
  margin-bottom: 100px;
  width: 75%;
  background-color: #1B1F25;
  padding: 50px 30px;
  background-color: #1B1F25;
  background-image: url("../media/notebook.png");
  -webkit-box-shadow: 4px 4px 7px #181717;
          box-shadow: 4px 4px 7px #181717;
}

.curators p {
  color: #1B1F25;
}

.curators .curator-intro {
  font-size: 22px;
  color: #1B1F25;
  text-align: center;
}

.curators .quote {
  margin: 20px;
  text-align: justify;
  border-top: 3px solid #161929;
  padding-top: 10px;
}

.curators .quote .quote-text {
  margin: 15px;
  line-height: 25px;
  font-style: italic;
}

.curators .quote .author {
  text-align: right;
  margin-top: 15px;
}

.fa-home {
  color: #d1a95f;
}

.poem-teaser {
  background-color: #1B1F25;
  color: #1B1F25;
  padding: 5px 0;
  background-color: #1B1F25;
  -webkit-box-shadow: 4px 4px 7px #181717;
          box-shadow: 4px 4px 7px #181717;
  background-image: url("../media/notebook.png");
  opacity: 0.5;
  margin-top: 20px;
}

.poem-teaser p {
  color: #1B1F25;
  margin: 15px;
}

.interview-teaser {
  background-color: #1B1F25;
  width: 100%;
  background-image: url("../media/notebook.png");
  margin-top: 20px;
}

.interview-teaser p {
  color: #1B1F25;
}

a {
  padding: 0;
}

.video-self iframe,
.video-other iframe {
  height: 300px;
  width: 500px;
  margin: 0;
}

.article-teaser {
  margin: 20px;
  padding: 15px;
  width: 40%;
  background-color: #1B1F25;
  text-align: center;
}

.bottom-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.video-self,
.video-other {
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  background-color: #1B1F25;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-description {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-description p {
  margin: 20px 0;
}

.more-btn {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate__jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
}
/*# sourceMappingURL=winners.css.map */