li {
  font-size: 27px;
  font-weight: 800;
}

.about {
  padding: 30px 20px 50px 20px;
  color: white;

  @include desktop {
    font-size: 20px;
    max-width: 800px;
    background: transparent;
    } 

  a {
  color: #e90482;
  font-style: italic;
  }
}

p {
  margin-top: 25px;
  font-weight: 500;

  @include desktop {font-size: 20px;}
}

.wrap-it {
  background-image: url(../img/no-bg-no-highlight.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

  .no-bg {display: none;}

  @include desktop {
    background-image: none;
    display: flex;
    justify-content: space-between;
  
    .no-bg {
      align-self: flex-end;
      width: 500px;
      display: block;
    }
  }
}


