li {
  font-size: 27px;
  font-weight: 800;
}

.about {
  padding: 30px 20px 50px 20px;
  color: white;
  background: rgb(130,207,232);
  background: linear-gradient(15deg, rgb(141, 210, 233) 0%, rgb(0, 102, 236) 100%);

  @include desktop {
    font-size: 20px;
    max-width: 800px;
    background: transparent;
    } 

  a {
  color: rgb(175, 243, 255);
  font-style: italic;
  }
}

p {
  margin-top: 25px;
  font-weight: 500;

  @include desktop {
    font-size: 20px;
    }
}
