* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;

  body {
    background-color: color(dark-blue);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2327337c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23252e72' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23242a68' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2321255e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%231F2155' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231d1f50' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231b1d4b' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231a1b46' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23181942' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2316173D' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100%;
  }
}

nav {
  background-color: black;

  a {
    color: #3139a1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s ease-in-out;

    @include media-query('min', $desktop) {
      &:hover {
        color: color(hot-pink);
      }
    
      &:before {
        content: attr(data-content);
        position: absolute;
        overflow: hidden;
        max-width: 0;
        color: color(hot-pink);
        white-space: nowrap;
        transition: max-width 0.3s ease-in-out;
      }
    
      &:hover:before {
        max-width: 100%;
        animation: loading 0.3s ease-in-out forwards;
      }
    }
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  gap: 50px;
  margin-bottom: 0;

  @include media-query('min', $desktop) {
    justify-content: flex-end;
    gap: 150px;
  }
}

h2 {
  color: #fff;
}

.content {
  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  p {
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
  }
}

.main {
  width: 100%;
  height: 100%;
  color: white;
  margin: auto;
  padding: 40px 0;

  @include media-query('min', $desktop) {
    width: 50%;
    min-height: 350px;
  }

  @media (max-width: 1024px) {
    width: 70%;
  }
}

.right {
  padding-top: 50px;
  color: #18b6e8;
  background-color: black;
  height: 100%;

  @include media-query('min', $desktop) {
    width: 50%;
  }
}

h1 {
  font-size: 40px;
  line-height: 40px;

  @include media-query('min', $desktop) {
    font-size: 50px;
    line-height: 50px;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;

  @include media-query('min', $desktop) {
    font-size: 45px;
    line-height: 50px;
  }
}

.demo {
  margin-top: auto;
  align-self: flex-start;

  button {
    padding: 3px 7px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    margin: 7px auto 12px auto;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: solid white 2px;

    &:hover {
      cursor: pointer;
      color: #229cff;
      border: solid #229cff 2px;
    }

    &:active {
      color: #2539a1;
      background-color: white;
      border: solid white 2px;
    }
  }
}

.mywork {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;

  h2 {
    color: #3139a1;
  }

  h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }

  .project {
    color: white;
    margin: 5px 10px;
    // padding: 3px;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      padding: 8px 0;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
    }

    h3 {
      font-size: 22px;
      padding: 5px 0;
      color: white;
      text-align: left;
    }

    .project-bg-wrap {
      background-color: color(dark-blue);
    }

    .project-bg {
      background-position: center;
      background-size: cover;
      padding: 150px 0 0 0;
      filter: grayscale(1);
      transition: ease-in-out 0.2s;
      clip-path: polygon(30% 0%, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 30%);

      &:hover {
        filter: grayscale(0);
        cursor: pointer;
        transition: ease-in-out 0.2s;
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 80% 100%, 0 100%, 0 0);     
      }
    }

    .wy {
      background-image: url(../img/screenshotwy.png);
    }

    .dsr {
      background-image: url(../img/screenshotdsr.png);
    }

    .ldf {
      background-image: url(../img/screenshotl&df.png);
    }

    .asb {
      background-image: url(../img/screenshotasb.png);
    }

    .bigals {
      background-image: url(../img/screenshotbigals.png);
    }

    .rmfw {
      background-image: url(../img/screenshotrmfw.png);
    }

    
    .ks {
      background-image: url(../img/screenshotks.png);
    }

    .swiper {
      background-image: url(../img/Screenshot_5.png);
    }

    .ta {
      background-image: url(../img/screenshotta.png);
    }

    .lib {
      background-image: url(../img/screenshotlib.png);
    }

    .cfb {
      background-image: url(../img/screenshotcfb.png);
    }

    .spp {
      background-image: url(../img/screenshotspp.png);
    }
  }

  .project-list {
    @include media-query('min', $desktop) {
      margin: 0 200px;
      gap: 25px;
    }

    .project {
      max-width: 320px;
    }
  }
}

.icon-wrap {
  perspective: 1000px;
  text-align: center;
  .icns {
    transform: rotateY(0); 
    transition: transform 0.6s; 
    transform-style: preserve-3d;
    &:hover {
      transform: rotateY(360deg);
    }
  }
}

// .no-margin {
//     @media (max-width: 768px) {
//         margin-right: 0 !important;
//     }
// }

.text {
  margin: 50px auto 50px 25px;

  .first {
    text-shadow: 2px 2px 6px #000625;
  }

  .second {
    opacity: 0;
    animation: nameAnim 2s ease 1.5s 1 normal forwards;
    text-shadow: 2px 2px 6px #000625;
  }

  .third {
    animation: bounceInDown 5s ease;
    text-shadow: 2px 2px 6px #000625;
  }

  .fourth {
    color: color(light-blue);
    text-shadow: 2px 2px 6px #000625;
  }
}

.up {
  margin-right: 15px;

    
  .fas {
    color: color(light-blue);
    font-size: 40px;
    margin-bottom: 50px;
    transition: ease-in-out 0.2s;
    background-color: #000;
    border-radius: 50%;
    @include media-query('min', $desktop) {
      margin-right: 50px;
      font-size: 50px;
    }

    &:hover {
      scale: 1.1;
      transition: ease-in-out 0.2s;
    }
  }
}

footer {
  background-color: black;
  color: color(dark-blue);
  padding: 20px;
  text-align: center;
}

.proj-about {
  text-align: center;
}

.content-2 {
  position: relative;
  overflow: hidden;
}

.wrap-it {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 0;
  animation: slideIn 1s forwards;

  @include media-query('min', $desktop) {
    background-image: none;
    display: flex;
    justify-content: space-between;

    .no-bg {
      align-self: flex-end;
      width: 300px;
      display: block;
      animation: slideInRight 3s;
    }
  }
}

.no-bg {
    width: 100%;
    height: auto;
    margin-right: 20rem;
  
    @media (max-width: 1024px) {
        margin-right: 6rem;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.btn-outline-custom {
  position: relative;
  display: inline-block;
  border: 1px solid color(light-blue);
  border-radius: 0;
  color: color(light-blue);
  margin: 2px 0px;
  overflow: hidden;
  transition: color 0.4s ease;
}

.btn-outline-custom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  animation: borderAnimation2 0.4s forwards;
  transition: width 0.4s ease;
}

.btn-outline-custom:hover {
  color: #fff;
  border: 1px solid #fff;
}

.btn-outline-custom:hover::before {
  width: 100%;
}

.btn-outline-white {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  margin: 20px 0px;
  overflow: hidden;
  transition: color 0.4s ease;
}

.btn-outline-white::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-top: 1px solid #3139a1;
  border-bottom: 1px solid #3139a1;
  animation: borderAnimation1 0.4s forwards;
  transition: width 0.4s ease;
}

.btn-outline-white:hover {
  color: #3139a1;
  border: 1px solid #3139a1;
}

.btn-outline-white:hover::before {
  width: 100%;
}

.more-link {
  color: color(light-blue);
  text-decoration: none;

  &:hover {
    color: #229cff;
  }
}

#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.about {
  padding: 30px 20px 50px 20px;
  color: white;

  @include media-query('min', $desktop) {
    font-size: 20px;
    max-width: 800px;
    background: transparent;
  }

  a {
    color: color(hot-pink);
    font-style: italic;
  }
}

p {
  margin-top: 25px;
  font-weight: 500;

  @include media-query('min', $desktop) {
    font-size: 20px;
  }
}

.icns {
  margin: auto;
  height: 60px;
  width: 60px;
  margin-bottom: 5px;

  @include media-query('min', $desktop) {
    height: 80px;
  }
}

.type {
  margin-top: 0;
  font-size: 10px;
  text-align: center;
  color: white;

  @include media-query('min', $desktop) {
    font-size: 14px;
  }
}

.front,
.back {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0 30px;

  @include media-query('min', $desktop) {
    gap: 20px;
    padding-bottom: 30px;
  }
}

.grouped {
  background-color: black;
  padding-bottom: 50px;

  h2 {
    color: #283886;
    text-align: center;
  }
}