* {
  color: #7A694E;
  font-family: 'Calibri';
}

body {
  background-color: #f9f8f6; 
}

.bg-box {
  border-left: 4px solid #E1E0E0;
  border-right: 4px solid #E1E0E0;
  margin: auto;
  margin-bottom: 25px;
  max-width: 1200px;
  padding: 0px 30px 45px 30px;
}

@media (max-width: 600px) {
  .bg-box {
    padding: 0 10px 10px 10px
    }
  }

.banner {
  max-width: 1200px;
  height: auto;
  margin: auto;
}

.banner-img {
  background-image: url("../pictures/jiminfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  border-radius: 3px;
}

h1 {
  font-weight:bold;
  text-align:center;
  font-size: 45px;
  margin: 0 15px;
  margin-bottom: 15px;
  color: #25272E;
} 

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
    }
  }
 
h2 {
  margin: 5px;
  color:#25272E;
}

h3 {
  margin: auto;
  color: #c32941;
  font-size: 25px;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav-bar ul{ 
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:5px;
  margin-bottom: 20px;
  padding-left: 0;
}

.nav-bar li a {
  display: block;
  background-color: #E1E0E0;
  color:#25272E;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  align-items: stretch;
  border-radius: 3px;
  margin: 2px;
}

li a:hover {
  background-color: #C6C5C1;
  cursor: pointer;
}

.dropdown-content {
  font-family: 'Roboto', sans-serif;
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 13px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top-box {
  display: flex;
  width: 272px;
}

#search-box {
  margin-top: 11px;
}

.container {
  display:block;
  justify-content: center;
}

.performer-box {
  display: flex;
  justify-content: left;
  margin: 0 20px;
  border-bottom: 2px solid #E1E0E0;
}

.performer-box p {
  margin-left:5px;
}

.performer-box:hover {
  transform: scale(1.03);
  background-color:#E1E0E0;
  cursor: pointer;
  border:none;
}

.artist-img {
  object-fit: cover;
  padding-left: 5px;
  border-left: 5px solid #E1E0E0;
  margin: 7px;
  height: 90px;
  width: 100%;
  min-width: 90px;
  max-width: 90px;
}

.artist-img img {
  object-fit: cover;
  border-radius: 5px;
  height: 90px;
  width: 100%;
  min-width: 90px;
  max-width: 90px;
}

.profile-text {
  display: block;
  justify-content: start;
  margin: 0 0 auto 0;
}

p {
margin: 0;
font-size: 15px;
}

.description p{
  margin-top:7px;
  margin-bottom: 15px;
}

.red-text {
  color: #c32941;
  font-weight: bold;

}
.red-text p {
  font-size: 15px;
}

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding-top: 20%;
  display: none;
}

.modal.modal-show {
  display: block;
}

.modal-content {
  background-color: #E1E0E0;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom:37px;
  align-items: center;
  border-radius: 3px;
  box-shadow: 2px 3px 4px 3px #25272E;
}
@media (max-width: 900px) {
  .modal-content {
    width: 30%;
      }
    }

@media (max-width: 600px) {
  .modal-content {
    width: 50%;
      }
    }

.close {
  align-self: flex-end;
  font-size: 25px;
  font-weight: bold;
  color: #c32941;
  margin-top: 8px;
  margin-right: 10px;
  padding:0px 7px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 1px #25272E;
}

.close:hover {
  cursor: pointer;
}

.fas {
  color:  #25272E;
  margin: 15px auto 12px 100px;
}
