* {
  color: #7A694E;
  font-family: 'Calibri';
}

body {
  background-color: #f9f8f6; 
}

.banner {
  max-width: 1200px;
  height: auto;
  margin: auto;
}

.banner-img {
  background-image: url("../pictures/jiminfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  border-radius: 3px;
}

h1 {
  font-size: 45px;
  font-weight:bold;
  text-align:center;
  margin: 0 15px;
  margin-bottom: 30px;
  color: #25272E;
} 

@media (max-width: 600px) {
  h1 {
    font-size: 35px !important;
    }
  }

a {
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 14px;
}

.nav-bar ul{ 
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:5px;
  margin-bottom: 20px;
  padding-left: 0;
}

.nav-bar li a {
  display: block;
  background-color: #E1E0E0;
  color:#25272E;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  align-items: stretch;
  border-radius: 3px;
  margin: 2px;
}

li a:hover {
  background-color: #C6C5C1;
  cursor: pointer;
}

.dropdown-content {
  font-family: 'Roboto', sans-serif;
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 13px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bg-box {
  margin: auto;
  margin-bottom: 25px;
  max-width: 1200px;
  padding: 0px 30px 15px 30px;
  border-left: 4px solid #E1E0E0;
  border-right: 4px solid #E1E0E0;
}

.box {
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
  max-width: 320px;
  height: auto;
  position: relative;
  overflow: auto;
}

.thumbnail-img {
  object-fit: cover;
  width: 100%;
  max-width: 320px;
  height: 180px; 
  border-bottom: #f9f8f6 2px solid;
}

.title {
  text-align: left;
  font-size: 20px;
  color: #25272E;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right:5px;
  margin: 0;
  border-left: 4px solid #E1E0E0;
}
.title:hover {
  color: #7A694E;
  }
  
.intro-text{
  text-align: justify;
  margin: 0 10px;
  font-size: 15px;
  color:#E1E0E0;
  text-shadow: 1px 1px black;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap:15px;
  justify-items:center;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .container{
    grid-template-columns: repeat(3, 1fr);
    }
  }

@media (max-width: 600px) {
  .container{
    grid-template-columns: 1fr;
    }
  }

