* {
  color: #7A694E;
  font-family: 'Calibri';
}

body {
  background-color: #f9f8f6; 
}

.bg-box {
  border-left: 4px solid #E1E0E0;
  border-right: 4px solid #E1E0E0;
  margin: auto;
  margin-bottom: 25px;
  max-width: 1200px;
  padding: 0px 30px 10px 30px;
}

.banner {
  max-width: 1200px;
  height: auto;
  margin: auto;
  margin-top:8px;
}

.banner-img {
  background-image: url("../pictures/jiminfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  border-radius: 3px;
}

h1 {
  font-size: 45px !important;
  font-weight:bold !important;
  text-align:center;
  margin: 0px 15px !important;
  margin-bottom: 30px !important;
  color: #25272E;
} 

@media (max-width: 600px) {
  h1 {
    font-size: 35px !important;
    }
  }

h2 {
  font-weight:bold !important;
  font-size: 25px !important;
  margin: 0 !important;
  color: #f9f8f6;
}

h3 {
  font-weight:bold;
  margin: auto;
}

a {
  text-decoration: none !important;
}

footer {
  text-align: center;
  font-size: 14px;
}

.nav-bar ul{ 
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:5px;
  margin-bottom: 20px;
  padding-left: 0;
}

.nav-bar li a {
  display: block;
  background-color: #E1E0E0;
  color:#25272E;
  font-weight: bold;
  padding: 7.5px 20px;
  text-align: center;
  text-decoration: none;
  align-items: stretch;
  border-radius: 3px;
  margin: 2px;
}

li a:hover {
  background-color: #C6C5C1;
  cursor: pointer;
}

.dropdown-content {
  font-family: 'Roboto', sans-serif;
  display: none;
  position: absolute;
  z-index: 10;
  font-size: 13px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap:15px;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .container{
    grid-template-columns: repeat(3, 1fr);    
    }
  }

  @media (max-width: 600px) {
    .container{
      grid-template-columns: 1fr;

      }
    }
  
.performer-box {
  text-align: center;
  width: 100%;
  max-width: 250px;
  height: 100%;
  min-height: 270px;
  background: rgb(74,78,93);
  background: radial-gradient(circle, rgba(74,78,93,1) 0%, rgba(37,39,46,1) 100%);
  position: relative;
  margin: auto;
  padding-bottom: 5px;
}

@media (max-width: 900px) {
  .performer-box{
    width: 100%;
    max-width: 200px;
    height: 235px;
    }
  }

@media (max-width: 600px) {
  .performer-box{
    width: 100%;
    max-width: 250px;
    min-height: 235px;
    }
  }
  
.performer-box p {
  margin: 0 10px 0 10px;
}

.dancer-img {
  object-fit: cover;
  width: 100%;
  max-width: 250px;
  height: 170px;
  overflow: hidden;
  border-bottom: #f9f8f6 2px solid;
}

@media (max-width: 900px) {
  .dancer-img{
    height: 130px;
    width: 100%;
    max-width: 200px;
    }
  }

@media (max-width: 600px) {
  .dancer-img{
    width: 100%;
    max-width: 250px;
    }
  }
  
.fa-play-circle {
 font-size: 50px;
 color: white;
 margin: 0;
 position: absolute;
 top: 25%;
 left: 40%;
 filter: opacity(0.8);
}

.fa-play-circle:hover {
  filter: opacity(1);
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.profile-text {
  display: block;
  justify-content: start;
  margin: 7px 0 auto 0;
}

.profile-text p {
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 17px;
  color:#E1E0E0;
}

.button1 {
  display:inline-block;
  text-align: center;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.button1 input {
  background-image:url("../pictures/nctu-small.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px auto auto auto;
  position: relative;
  width: 100%;
  max-width: 110px;
  height: 70px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: 2px solid #f9f8f6;
  text-shadow:1px 1px 10px black, 1px 1px 10px black;
  filter: grayscale(0.1);
}

.button1 input:hover {
  transition: 0.5s;
  transform:scale(1.05);
  filter: none;
  cursor: pointer;
}

.watch-text {
  margin: 0 auto 10px;
  text-align: center;
  font-weight: bolder;
  background-color:#E1E0E0;
  color: #25272E;
  font-size: 18px;
}

.yt-box {
  margin-top: 25px;
  border-bottom: 3px solid #E1E0E0;
  padding-bottom: 17px;
}

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  width: 100%;
  display: none;
}

.modal.modal-show {
  display: block;
}

.modal-content {
  width: 100%;
  max-width: 1200px !important;
  height: auto;
  margin: auto;
  background-color: transparent !important;
  /* background-color: teal !important; */
  border: none !important;
  padding: 50px;
  margin-top: 100px;
}

.close span{
  position: absolute;
  top: 0;
  right: 0;
  border: none !important;
  color: #f9f8f6 !important;
  font-size: 50px !important;
  text-shadow: none !important;
}

.close:hover {
  cursor: pointer;
}
